/*color
濃いピンク　#F47684;
薄いピンク　 #F1E8E3
白#F5F5F5
*/

*{
    margin: 0; 
    padding: 0;
/*    font-family: 'Yusei Magic', sans-serif;*/
     font-family: 'M PLUS Rounded 1c', sans-serif;
}

#header{
    position: fixed;
    width: 100%;
    overflow: hidden;
    background:#F47684;
    padding: 10px 0px;
    z-index: 5;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
    
}


#header h1{
    color:#F5F5F5;
    float: left;
    padding-right: 20px;
    font-family: 'Yusei Magic', sans-serif;   
}

nav{
    overflow: hidden;
}

nav li{
    list-style-type: none;
    float: left;
    
}

nav a{
    font-size: 16px;
    color: white;
    text-decoration: none;
    display: block;
    margin:14px 20px 0px;
    transition:0.6s;
    
}

nav a:hover{
    border-bottom: 3px solid  #fffffe;
}



#main{
    width:100%;
    overflow: hidden;
}

.section1{
    width: 100%;
    background-color: #F5F5F5;
    height: 700px;
    position: relative;   
    z-index: 0;
}

.box1{
    width:80%;
    height: 700px;
/*    background-color: blue;*/
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

.textbox1{
    width: 650px;
    overflow:hidden;
    text-align: center;
}


.section1 h1{ 
    font-family:  'Sriracha', cursive;
    color: #F47684;
    font-size: 170px;
    line-height:200px;
    text-shadow: 15px 8px 2px  #F1E8E3;
/*    background:black;*/
        z-index: 1;
}

p.welcome{
/*    width: 500px;*/
    font-size: 30px;
    color: #373C38;
    display: block;
/*    margin-top: 470px;*/
/*    margin-left: 270px;*/
    font-family: 'M PLUS Rounded 1c', sans-serif;
    
}


.section1 img{
    border-radius: 35px;
    width: 350px;
    height: 500px;
    object-fit: cover;
}

.visual{
      box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}


#circle{
    background:#F1E8E3;
    opacity:0.5; 
    position: absolute;
    z-index: -1;
     border-radius: 50%;
}

.circle1{
    width: 200px;
    height:200px;
    top:10px;
    left: 140px;
}

.circle2{
    width: 130px;
    height:130px;
    top:540px;
    left: -20px;
}

.circle3{
    width: 130px;
    height:130px;
    top:350px;
    left: 320px;
}

.circle4{
    width: 200px;
    height:200px;
    top:500px;
    left: 600px;
}

.circle5{
    width: 130px;
    height:130px;
    top:20px;
    left: 690px;
}

.circle6{
    width: 200px;
    height:200px;
    top:180px;
    left: 880px;
}

.circle7{
    width: 130px;
    height:130px;
    top:420px;
    left: 1230px;
}

.circle8{
    width: 130px;
    height:130px;
    top:110px;
    left: 1400px;
}




/*who am I ? のセクション*/
#section2{
    background-color: #F1E8E3;
    width:100%;
    height:500px;
    position: relative;
}

.box2 {
    width:70%;
    height:500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

#section2 .box2 img{
    border-radius: 20px;
    object-fit: cover;
    height: 340px;
    width: 340px;
}


.textbox2 {
    overflow: hidden;
}


.textbox2  h2{  
    font-size: 60px;
    color:#F47684;
    font-family: 'Sriracha', cursive;


    }


.textbox2 .intro p{
    font-size: 30px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 600;/*        'M PLUS Rounded 1c', sans-serif;*/
/*        'Yusei Magic', sans-serif;*/
    line-height: 59px;
    color: #373C38;
}

.intro{
/*    padding-top: 30px;*/
}


/*好きなことセクション*/

#section3{
/*    overflow: hidden;*/
    background-color:#F5F5F5;
    width:100%;
    position: relative;
    overflow: hidden;
    
}

.box3{
    margin: 0 auto;
    overflow: hidden;
   
}

.upperbox{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding-top: 132px;
    padding-bottom: 100px;
}

.bottombox{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    padding-bottom: 120px;

}


.article{
    width:300px;
    background-color:   #F1E8E3;
    height:550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .2);

}

.article img{
    margin-top: 15px;
    border-radius: 25px;
}

.article h3{
     font-size: 30px;
     border-bottom: 3px solid #F47684;
     font-family: 'Yusei Magic', sans-serif;
     color:  #373C38;
     position: absolute;
     top: 300px;
}


.explanation{
    margin-top: -100px;
    margin-right:30px;
    margin-left:30px;
    font-size: 18px;
    color:  #373C38;
    text-align: left;
    font-weight: 500;
    position: absolute;
    top: 460px;

}


.article a.button{
    position: absolute;
    bottom: -20px;
    font-size: 17px;
    color: #F5F5F5;
    width: 200px;
    height: 42px;
    background-color: #F47684;
    text-align: center;
    display: block;
    line-height: 40px;
    border: 1px solid #F47684;
    transition: 0.8s;
    text-decoration: none;
    box-shadow: 4px 4px #C35e69;
    border-radius: 22px;

  
}

.article a.button:hover{
    background-color: #F5F5F5;
    color: #F47684;
}


.article img{
    object-fit: cover;
    height: 270px;
    width: 270px;
}



#section4{
    width: 100%;
    height:40px;
    background-color:  #F47684;
    position: relative;
}


.box4{
    width: 10%;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
/*    background: red;*/
}

.logo{
  font-size: 30px;
  color:#F5F5F5;
    -webkit-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
}

.logo:hover{
     -webkit-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    -o-transform: translateY(-10%);
    transform: translateY(-10%);   
   
}

/*
.lowercontents{
    width: 800px;
    height: 600px;
    margin: 0 auto;
}
*/

